<form method="post" action="/" enctype="multipart/form-data">
  
</form>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <header class="header">
        <div class="container flex">
            <a href=""></a>
            <nav>
                <ol class="flex hover">
                    <li><a href="home.html">home</a></li>
                    <li><a href="about.html">about</a></li>
                    <li><a href="index.html">login</a></li>
                    <li><a href="register.html">register</a></li>
                </ol>
            </nav>
        </div>
    </header>
    <main class="container flex-48">
                <fieldset>
                    <form class="box" action="/" method="POST" enctype="multipart/form-data">
                        <legend>Compress IMAGE</legend>
                        <input type="file" name="image" />
                        <input type="submit" value="Upload" />
                    </form>
                </fieldset>
            </form>
        </fieldset>
    </main>
    <footer id="contact">
        <div>
            <small>copyrights &copy; altcampus</small>
        </div>
    </footer>
</body>
</html>