<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,200;0,400;0,600;0,700;1,200;1,300;1,500;1,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="login_total">
      <div class="container">
        <h3 class="text-align">Flake</h3>
        <p class="text-align text-align-para">CHISEL YOUR PHOTOS</p>
        <section class="login_form flex">
          <div class="login_left flex-45">
            <img
              class="sign_in_img"
              src="/images/flake.png"
              alt="signin-image"
            />
          </div>

          <div class="login_right form_section flex-45 center">
            <form
              class="box"
              action="/"
              method="POST"
              enctype="multipart/form-data"
            >
              <legend class="form_heading">Upload your picture here</legend>
              <fieldset>
                <input
                  type="file"
                  name="image"
                  id="color"
                  placeholder="Click Here"
                />
              </fieldset>
              <a href="#">
                <div class="btn-wrap">
                  <button id="btn-prop" type="submit">Upload</button>
                </div>
              </a>
            </form>
          </div>
        </section>
      </div>
    </section>
  </body>
</html>
