html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Georama', sans-serif;
  height: 100vh;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom styles */
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.container {
  max-width: 850px;
  margin: auto;
  width: 100%;
}
.flex {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-45 {
  flex: 0 1 45%;
}
/* Form */
.form_heading {
  font-size: 1.5rem;
  font-weight: 3rem;
  text-align: center;
  color: #104080;
  margin-bottom: 2rem;
}
.text-align {
  text-align: center;
  font-size: 3rem;
  font-weight: 10rem;
  color: #104080;
  margin-bottom: 1rem;
}
#color {
  color: #104080;
  font-size: 10px;
}
p {
  font-size: 30px;
}
#btn-prop {
  background-color: #2664b6;
  width: 8rem;
  text-align: center;
  color: white;
}
.btn-wrap button {
  text-align: center;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.text-align-para {
  font-size: 1.5rem;
}
.login_left,
.login_right {
  padding: 3rem;
}
.form_section input {
  display: block;
  width: 90%;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 0;
  border-bottom: 1px solid #415abe;
  outline: 0;
}
.form_section input:focus {
  border: 1px solid #57983f;
}
.btn {
  background-color: #13297e;
  padding: 0.8rem 1.5rem;
  color: #ffffff;
  font-size: 1.1rem;
  border: 0;
  outline: 0;
  border-radius: 6px;
  margin-top: 1rem;
  cursor: pointer;
}
.btn:hover {
  background-color: #1b73e9;
}
.login_right {
  text-align: center;
}
.login_form {
  box-shadow: -2px -2px 6px gray, 2px 2px 6px gray;
  padding: 3rem;
}
.login_total {
  margin: 100px auto;
  padding: 2rem;
}
.sign_in_img {
  width: 80%;
  margin-bottom: 2rem;
}

/* For medium screen */
@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
  .flex-45 {
    flex: 0 1 45%;
  }
  .login_form {
    flex-direction: column;
  }
}

/* For small screen */

@media screen and (max-width: 400px) {
  html {
    font-size: 14px;
  }
  .flex-45 {
    flex: 0 1 100%;
  }
  .login_form {
    flex-direction: column;
  }
  .sign_in_img {
    width: 100%;
  }
}
